<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form_page.css">
    <title>Admin Update</title>
</head>
<body>
    {{>Nav}}
    <h1>Update Profile: Admin only</h1>

    <h3>Update for user id: {{id}}</h3>
   
    <form class="update" action="/update" method="POST">
        <div class="row">
            <label for="first_name">first name</label>
            <input required type="text" name="first_name" value={{first_name}}>
        </div>
        <div class="row">
            <label for="surname">surname</label>
            <input required type="text" name="surname" value={{surname}}>
        </div>
        <div class="row">
            <label for="email">email</label>
            <input required type="text" name="email" value={{email}}>
        </div>
        <div class="row">
            <label type="text" name="password">password</label>
            <input required type="password" name="password" value={{password}}>
        </div>
        <button class="create" type="submit">Update</button>
    </form>

</body>
</html>