<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/form_page.css">
    <title>Update Blog</title>
</head>
<body>
    {{>Nav}}
    <h1>Change blog for user {{first_name}} {{surname}}: Admin only</h1>
    <h3>User id: {{userId}}</h3>
    <form class="update-blog" action="/updateblog/{{id}}" method="POST">
            <div class="row">
                <label for="title">title</label>
                <input required type="text" name="title" value={{title}}><br>
            </div>
            <div class="row">
                <label for="blog">blog</label>
                <textarea required class="blog" rows="10" cols="35" name="blog" >{{blog}}</textarea><br>
            </div>
                <button class="create" type="submit">Change</button>
        </form>
</body>
</html>