<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your blogs</title>
</head>
<body>
    {{>Nav}}
    <h1>All blogs</h1>
    <div class="individual-blogs-container">
        {{#each blogs}}
        <div class="individual-blog">
            <h4>{{this.title}}</h4>
            <h5>author: {{this.user.first_name}} {{this.user.surname}}</h5>
            {{!-- <a href="/blog/{{this._id}}">{{this.title}}</a>  --}}
        </div>
        {{/each}}
    </div>
</body>
</html>