<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/list_page.css">
    <title>All Users</title>
</head>
<body>
    {{>Nav}}
    <h1>All Users</h1>
    <h2>Only users with admin rights can view all users.</h2>
    <div class="users">
        {{#each users}}
            <div class="user">
                <table>
                    <tr>
                        <td>name:</td>
                        <td>{{this.first_name}} {{this.surname}}</td>
                    </tr>
                    <tr>
                        <td>email:</td>
                        <td>{{this.email}}</td>
                    </tr>
                    <tr>
                        <td>id:</td>
                        <td>{{this.id}}</td>
                    </tr>
                </table>

                <div class="buttons-container">

                    <form class="update" action="/update/{{this.id}}" method="GET">
                            <button class="change" type="submit">Update</button>
                    </form>

                    <form action="/delete/{{this.id}}" method="POST">
                        <input class="user-to-delete" type="hidden" name="userName" value="{{this.first_name}} {{this.surname}}">
                        <button class="delete" type="submit">Delete</button>
                    </form>

                    <form class="newblog" action="/newblog/{{this.id}}" method="GET">
                        <button class="create" type="submit">Blog</button>
                    </form>

                </div>

            </div>
        {{/each}}
</body>
</html>